footer {
    height: 165px;
    background-color: #57380F;
    margin-top: 115px;
    width: 100%;
}

.div_fot_icons {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

footer label {
    text-align: center;
    margin-left: 0 !important;
    margin-top: 5px;
    color: white;
}

.img_fot_icons {
    height: 50px;
    margin: 0.75%;
}