/* CSS referente à página "perfil_usuario.php" */
/* https://celke.com.br/artigo/como-criar-pop-up-com-javascript#:~:text=Para%20criar%20o%20pop%2Dup,pop%2Dup%20na%20p%C3%A1gina%20HTML.*/


.primeiro {
    background-color: black;
    height: 510px;
    width: 100%;

    position: relative;
    top: 115px; /* me sinto burra pq pensava que precisava de padding-top */
}

.sinonimo {
    /*padding: 30px; /* não deu certo de usar margin (desconfigura o cabeçalho fixed) então vai a merda do padding */
    height: calc(100% - 40px);
    width: calc(100% - 60px);
    /* Fonte: https://stackoverflow.com/questions/29210902/combine-divs-with-percentage-width-with-margin-in-pixels */

    /* topo, direita, inferior, esquerda */
    margin: 20px 30px 20px 30px;
    position: absolute;

    background: url(../img/user_perfil/paisage_back.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 20px;
}

.teste {
    margin-top: 35px;
    margin-left: 150px;
    height: 350px;
    width: 30%;

    position: relative;
}

.info {
    height: 65px;
    width: 100%;
    margin-top: 15px;
    background-color: red;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    position: absolute;

    display: flex;
    align-items: center;
    /* Fonte: https://www.visualdicas.com.br/programacao/css/24-como-centralizar-um-texto-verticalmente-usando-o-flexbox */

    font-size: 25px;

    padding-left: 15px;

    border-width: medium;
    border-style: solid;
    border-color: black;
    /* Fonte: https://www.maujor.com/tutorial/propriedades-css-para-estilizacao-de-bordas.php */
}

.antonimo {
    height: calc(100% - 40px);
    background-color: blueviolet;
    width: 50%;
    float: right;

    border-width: medium;
    border-style: solid;
    border-color: black;

    position: relative;
    z-index: 2;
    /* Fonte: https://pt.stackoverflow.com/questions/178699/centralizar-um-div-com-texto-e-position-absolute-no-centro-da-div-pai */
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 200px;

    border-radius: 20px;
}

#button_product {
    margin-top: 95px;
}

#button_config {
    margin-top: 175px;
}

#button_change {
    margin-top: 255px;
}

#perfil {
    display: none;
}

.ur_bro {
    height: calc(55% - 20px);
    width: calc(100% - 20px);

    margin-top: 20px;
    margin-left: 20px;
    position: relative;
}

.ur_mom {
    height: 100%;

    width: calc(60% - 20px);
    background-color: aqua;
    border-radius: 20px;
    display: inline-block;

    /* Fonte: https://www.clubedohardware.com.br/forums/topic/1520836-como-colocar-divs-uma-ao-lado-da-outra-html-e-css-js/ */
}

.yellow {
    background-color: gray;
    height: 100%;

    width: 39%;

    display: inline-block;
    margin-right: 10px;

    border-radius: 20px;
}

#product {
    display: none;
}

#config {
    display: none;
}

#change_perfil {
    display: none;
}