/* Refere-se ao css do index */

/* Todos os elementos (*) */
* {
    /*  -> Margin / Margem - Espaçamento fora do conteúdo.
        -> Padding / Preenchimento - Espaçamento dentro dos limites do conteúdo.

        Hierarquia (de fora até chegar ao conteúdo):
            Margin Box
            Border Box
            Padding Box
            Element Box ( O elemento em si, div, span, entre outros )
        https://pt.stackoverflow.com/questions/189978/qual-a-diferen%C3%A7a-entre-padding-e-margin-no-css 
       
    Retirada de todos os espaçamentos dos elementos, ou seja, para realizar uma customização deles. */
    padding: 0;
    margin: 0;
    border: 0;

    font-family: 'Segoe UI';
}

/*  class -> . 
    id=   -> # */

.indice_items {
    background-color: white;
    padding: 15px;
    border-radius: 10px;

    display: inline;
    vertical-align: middle;
    margin-left: 3.75vw;
}
header {
    position: absolute;
    z-index: 5;
    background-color: #FFC470; /* #FFBF65 -> mais escuro */

    /*Altura total que o <header> irá ocupar na tela */
    height: 15.5vh;

    width: 98.75vw;
}
.dropdown {
    display: inline-block;
    position: relative;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);

    margin-left: 3.75vw;
    border-radius: 10px;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    color: #000000;
    padding: 10px;
    text-decoration: none;
    background-color: #5D3701;
    color: white;
    /*margin-right: 3.75vw;*/
  }
  .dropdown-content a:hover 
  {
    color: yellow;
    background-color: #00A4BD;
  }
/* Fonte: https://blog.hubspot.com/website/html-dropdown#:~:text=A%20drop%2Ddown%20menu%20is,user%20disengages%20from%20the%20menu. */

button {
    background-color: #9B5B00;
}

button a {
    color: white;
}

img {
    border-radius: 20px;
}

#img_doador {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

#img_donatario {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.teste {
    /* Altura da linha (line-height): */
    /*line-height: 50px; */

    /* Mostra os elementos alinhados na horizontal (display: inline) */
    display: inline;

    /* Alinha os elementos verticalmente no meio (vertical-align: middle) */
    vertical-align: middle;

    margin-left: 3.75vw; /* vw - view width (largura [porcentagem total] da tela do usuário)
                            -> auxilia ao site ser responsivo
    (neste padding, ele mexe de cada elemento <li>) */

    /*  Fontes: line-height: https://www.w3schools.com/cssref/pr_dim_line-height.asp
                vw (view width): https://www.horadecodar.com.br/2020/03/19/como-fazer-uma-div-com-altura-e-largura-da-tela-do-usuario/
                Geral:  https://www.clubedohardware.com.br/forums/topic/1451109-alinhar-objetos-de-uma-li/ */
    padding: 15px;
    border-radius: 10px;
}

/* Todos os <ul> dentro da class="menu" */ 
.menu {

    /* Altura do <ul> (vh - view height: altura [porcentagem total] da tela do usuário) 
    -> O mesmo objetivo se aplica ao view height: auxilia ao site ser responsivo */
    height: 15.5vh;

    width: 98.95vw;

    /* Fonte: vh (view height): https://www.horadecodar.com.br/2020/03/19/como-fazer-uma-div-com-altura-e-largura-da-tela-do-usuario/*/
}

/* Logotipo DoIn (imagem) */
.logotype {

    /*Altura do logotipo DoIn (imagem) */
    height: 15vh;
}

/* Lupa de pesquisa (imagem) */
.symbol {

    /*Altura da lupa de pesquisa (imagem) */
    height: 3.75vh;
} 

.main {
    position: relative;
    padding-top: 30.5vh; /*15.5vh;*/
}

/* Introdução de um gif (logo do DoIn) ao abrir o index do site */
#introduction {

    /* Posição dos elementos no site; quebra o padrão de posição estabelecido por cada elemento do html
        Fixed: elementos fixados de acordo com o tamanho da tela do computador/celular */
    position: fixed;

    /* Serve para ordenar os elementos da página (qual elemento irá sobrepor a outra. OBS: por conta do position: fixed) 
    No caso, a <div> e seus elementos sobrepõem todo o restante do site (header, section, footer) */
    z-index: 50;

    /* Tamanho que os elementos da <div> id="introduction" e ela própria poderão ocupar no espaço da tela */
    top: 0;
    left: 0;
    width: 100%; /* 100 % da tela */
    height: 100%;

    /* Opacidade */
    opacity: 1;
    
    /* Cor de fundo */
    background-color: #D1EAFF;

    /* Imagem de fundo (sobrepõe o background-color) */
    background-image: url("../img/doin_introduction.gif"); /* .. - serve para sair da pasta */
    background-size: 500px 500px; /* Tamanho da imagem de fundo no site */
    background-position: center; /* Posição da imagem de fundo (centro) */
    background-repeat: no-repeat; /* Não há repetição da imagem caso ela não compor a tela inteira */

    /* Fontes:  Geral: https://pt.stackoverflow.com/questions/66039/como-colocar-uma-gif-antes-de-exibir-a-p%C3%A1gina-do-site/67568#67568
                Código estudado e implementado: http://jsfiddle.net/SamirChaves/6ns0grm0/2/
                Videoaula sobre position e z-index: https://pt.khanacademy.org/computing/computer-programming/html-css/css-layout-properties/pt/css-position */
}

/* Duas imagens sobre "Importância da Troca e Doação" (elemento <div>) */
.slogan {
    
    /* Posição dos elementos no site; quebra o padrão de posição estabelecido por cada elemento do html
        Relative: a <div> class="container" não possuirá a posição padrão imposto pelo site,
        portanto, não desarrumando a identação/visual ao diminuir o tamanho da tela.
        Além disso, NÃO IRÁ SOBREPOR elementos, fazendo com que um fique debaixo/após do outro. */
    position: relative;
    
    /* Alinha os elementos de imagem no centro verticalmente (para isso, o display: flex) 
    Fonte: https://www.freecodecamp.org/portuguese/news/como-centralizar-uma-imagem-na-vertical-e-na-horizontal-com-css/#:~:text=Outra%20forma%20de%20centralizar%20uma,que%20voc%C3%AA%20tamb%C3%A9m%20precisar%C3%A1%20usar. */
    display: flex;
    justify-content: center;

    /*Altura da <div> class="slogan" */
    height: 65vh;

    /* Imagem de fundo (sem repetição) */
    background-color: blue;
}

/*.slogan img {
    position: absolute;
    height: 42.25vh;
    z-index: 1;
}

#img {
    right: 1vw;
}
.slogan img {
    height: 65vh;
    width: 45vw;
}*/

/* Fonte: https://pt.stackoverflow.com/questions/106102/como-posicionar-texto-dentro-de-uma-imagem#:~:text=3%20Respostas&text=Primeiro%20voc%C3%AA%20deve%20colocar%20ambos,%2C%20bottom%20e%2Fou%20left%20. */

.curiosidades {
    height: 30vh;
    background-color: brown;
}

.items {
    height: 30vh;
    background-color: yellow;
}

#circulo {
    /* Posição dos elementos no site; quebra o padrão de posição estabelecido por cada elemento do html
        Relative: a <div> class="container" não possuirá a posição padrão imposto pelo site e também
        haverá a SOBREPOSIÇÃO de elementos, fazendo com que um fique sobreposto a outro. Porém, poderá
        desarrumar a identação/visual ao diminuir o tamanho da tela. 
    Fonte: https://www.devmedia.com.br/como-usar-a-propriedade-position-css/24451 */
    position: absolute;
    border-radius: 100px;
    height: 200px;
    width: 200px;
    z-index: 3;
    background-color: yellow;

    top: 20vh;
    left: 42.25vw;
}

section {
    position: relative;
}

.categoria {
    height: 15vh;
    width: 98.95vw;
    background-color: blueviolet;
    position: absolute;
    margin-top: 15.5vh;
    display: flex;

    /* Fonte: https://pt.stackoverflow.com/questions/440679/colocar-elementos-lado-a-lado-usando-html-e-css */
}

.up {
    position: relative;
    width: 6.5vw;
    margin-left: 1.65vw;
}

.h {
    height: 7.5vh;
    width: 6.5vw;
    background-color: yellow;
}

.i {
    height: 5vh;
    width: 5vw;
}

/* Coisas talvez uteis:
https://www.hostinger.com.br/tutoriais/criar-site-responsivo-css
https://www.maujor.com/tutorial/propriedades-css-para-estilizacao-de-listas.php */