/* Refere-se ao css do index */

/*  class -> . 
    id=   -> # */

section {
    position: relative; /*para top funcionar */
    top: 115px;
    height: 1300px;
    background-color: black;
}

.div_presentation {
    height: 700px;
    top: 130px;
    position: relative;
    background-color: blue;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 350px;
}

.img_presentation {
    height: 350px;
}

.div_text_pres {
    background-color: yellow;
    width: calc(45% - 30px);
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 20px;
    height: 100%;
}

p {
    font-size: larger;
    text-indent: 3em;
    text-align: justify;
    margin-top: 10px;
}

.button_presentation {
    background-color: blueviolet;
    width: 265px;
    font-size: larger;
    margin-left: 3em;
    padding: 15px;
    border-radius: 15px;
    margin-top: 10px;
}