/* CSS referente à página "perfil_usuario.php" */

.primeiro {
    background-color: rgba(240, 40, 40, 1);
    height: 510px;
    width: 100%;

    position: relative;
    top: 115px; /* me sinto burra pq pensava que precisava de padding-top */
}

.sinonimo {
    padding: 30px; /* não deu certo de usar margin (desconfigura o cabeçalho fixed) então vai a merda do padding */
    height: 450px;

    /* Pinta o container (o elemento) e o espaçamento criado (padding) 
    NÃO pode usar cor sólida (as pré-estabelecidas: white, blue...) */
    background-image: linear-gradient(to bottom, rgba(240, 255, 40, 1) 0%, rgba(240, 255, 40, 1) 100%), linear-gradient(to bottom, rgba(240, 40, 40, 1) 0%, rgba(240, 40, 40, 1) 100%);
    background-clip: content-box, padding-box;
    /* Fonte: https://stackoverflow.com/questions/14628601/can-i-add-background-color-only-for-padding */
}

.teste {
    margin: 50px;
    background-color: blue;
    height: 350px;
    width: 40%;
}


.info {
    height: 65px;
    width: 100%;
    margin-top: 15px;
    background-color: pink;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.antonimo {
    height: 400px;
    background-color: blueviolet;
    width: 50%;
    float: right;

    margin-top: 20px;
    margin-right: 150px;

    border-radius: 20px;
}

/*#perfil {
    display: none;
}*/

.yellow {
    background-color: gray;
    height: 300px;

    border-radius: 20px;

    margin-top: 10px;
    margin-left: 300px;
    margin-right: 10px;
}

#product {
    display: none;
}

#config {
    display: none;
}

#change_perfil {
    display: none;
}