.categoria {
    height: 15vh;
    width: 50vw;
    background-color: blueviolet;
    z-index: 4;
    position: absolute;
    margin-top: 10vh;
    display: flex;
}

.up {
    position: relative;
}

.h {
    height: 10vh;
    width: 10vw;
    z-index: 4;

    background-color: yellow;
}